<% include ../partials/header %>

<h1>Create New List</h1>
<form action="/lists" method="POST">
    <input type="text" name="name" placeholder="name of new list">
    <button>Submit</button>
</form>

<% include ../partials/footer %>