<% include ../partials/header %>

<h1>Create New List</h1>
<form action="/lists" method="POST">
    <input type="text" name="author" placeholder="username" value="TestUserame">
    <input type="text" name="name" placeholder="name of new list" value="Test Title">
    <button>Submit</button>
</form>

<% include ../partials/footer %>