<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <title>Checklist Project</title>
      <link
         rel="stylesheet"
         type="text/css"
         href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      />
      <script src="https://code.jquery.com/jquery-3.1.1.min.js"
              integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
              crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
      <link rel="stylesheet" href="/stylesheets/main.css" />
   </head>
   <body>
      <div class="ui top fixed menu">
         <a href="/lists" class="item">
            <i class="calendar fitted large check outline icon"></i>
         </a>
         <a class="item active" href="/lists">
            Home
         </a>
       
         <div class="right menu">
            <% if(!currentUser){ %>
               <a class="item" href="/login">
                  Login
               </a>
            <a class="item" href="/login">
               Login
            </a>
            <a class="item" href="/register">
               Sign Up
            </a>
            <% } else { %>
               <a class="item" href="">
                  Logged in as: <%= currentUser.username %>
               </a>
            <a class="item" href="/logout">
               Logout
            </a>
            <% } %>
         </div>
      </div>
      <div id="body-container" class="ui container content grid">
         <div class=" sixteen wide mobile twelve wide computer centered column">
            <div class="ui grid centered">
               <!-- <div class="ui breadcrumb">
                  <a class="section">Home</a>
                  <i class="right angle icon divider"></i>
                  <a class="section">Lists</a>
                  <i class="right angle icon divider"></i>
                  <div class="active section">...</div>
               </div> -->