<% include ./partials/header %>

<div class="sixteen wide column">
   <div class="ui centered grid stackable">
      <div class=" eight wide column ">
         <div class="ui card raised" style="margin: auto;">
            <div class="content">
               <div class="header"><h1>About Me</h1></div>
            </div>
            <div class="image">
               <img src="/images/profile_picture.jpg" alt="" />
            </div>
            <div class="content">
               <a
                  class="header link"
                  href="http://www.linkedin.com/in/eric-tran-web"
                  >Eric Tran</a
               >
               <p class="description" style="text-align: justify;">
                  I have worked professionally as a network engineer at Verizon
                  for 7 years. My area of focus was data analytics and process
                  improvements. As I learned to automate more of my job I
                  realized how much I enjoyed programming and creating tools
                  that solve problems.
               </p>
               <p class="description" style="text-align: justify;">
                  I pride myself on my ability to work with others to get the
                  job done. I have taken several instructor led courses as well
                  as online courses on web development including: NodeJS,
                  MongoDB, HTML/CSS/Javascript. Continuing to broaden my horizon
                  everyday is a lifelong goal and I cannot wait for my next
                  challenge.
               </p>
            </div>
            <div class="extra content">
               <a
                  class="ui primary button fluid"
                  href="http://www.linkedin.com/in/eric-tran-web"
                  >LinkedIn Profile</a
               >
            </div>
         </div>
      </div>
      <div class=" eight wide column ">
         <div class="ui segment raised">
            <h1>About This Project</h1>
            <h4>Purpose</h4>
            <p>In short, this project is a list tracker.</p>
            <p style="text-align: justify;">
               The purpose of this project is to develop an application that is
               expandable and demonstrates my abilities as a web developer. I
               will continue to add features and new technologies so please
               visit again!
            </p>
            <h4>Server-side Info</h4>
            <ul>
               <li>Node deployed on Heroku</li>
               <li>MongoDB deployed on MongoDB Atlus</li>
               <li>Git for version control and deployment</li>
               <li>
                  Node packages
                  <ul>
                     <li>Express for routing</li>
                     <li>EJS for templating</li>
                     <li>Passport for user authentication</li>
                     <li>Mongoose for database connection</li>
                     <li>Moment for humanized time conversions</li>
                  </ul>
               </li>
               <li>RESTful routes</li>
               <li>MVC structure</li>
            </ul>
            <h4>Client-side Info</h4>
            <ul>
               <li>HTML/CSS for basic markup and styling</li>
               <li>Javascript for event handlers</li>
               <li>Semantic UI for CSS Framework</li>
               <li>jQuery to support Semantic UI menus</li>
            </ul>
            <h4>Current features</h4>
            <ul>
               <li>User authentication</li>
               <li>Persistent lists per user</li>
               <li>Tasks and lists that can be deleted/completed</li>
               <li>Responsive layout including menus</li>
            </ul>
            <h4>Future enhancements</h4>
            <ul>
               <li>Convert to single page app using AJAX</li>
               <li>Use React for front-end</li>
               <li>Try other CSS frameworks</li>
               <li>Add notification/subscriptions</li>
               <li>Allow list sharing/modification between users</li>
               <li>Better task UI</li>
            </ul>
            <h4>Development Setup</h4>
            <ul>
               <li>Visual Studio Code for editor</li>
               <li>Git command line for versioning/deployment</li>
               <li>Mac OSX for operating system</li>
               <li>MongoDB for database</li>
               <li>Node for server</li>
               <li>Plan to learn and use: Gulp, Docker, Sass, Jasmine</li>
            </ul>
         </div>
      </div>
   </div>
</div>

<% include ./partials/footer %>
