<% include partials/header %>

<form class="ui large form" action="/register" method="POST">
   <div class="ui segment">
      <div class="field">
         <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="Username" />
         </div>
      </div>
      <div class="field">
         <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password" />
         </div>
      </div>
      <button class="ui submit fluid button primary">Sign Up</button>
   </div>
</form>
<% include partials/footer %>
