.form-container {
   max-width: 350px;
}

form input {
   text-align: center;
}

#body-container {
   padding-top: 60px;
}

.hidden {
   display: none;
}

.ui.grid.custom-grid .column {
   margin: 0;
   padding: 0.75rem;
}

.ui.grid.custom-grid .column.twelve {
   margin: 0;
   padding: 0.75rem;
   padding-left: 0;
}

.ui.grid.custom-grid {
   height: 100%;
}
.custom-button {
   height: 100%;
}

.custom-grid .vertical.menu {
   height: 100%;
}
