.form-container {
   max-width: 350px;
}

form input {
   text-align: center;
}

#body-container {
   padding-top: 60px;
}

.hidden {
   display: none;
}

@media screen and (max-width: 700px) {
   .flex {
      -webkit-flex-direction: row;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
   }

   .flex button {
      height: 80%;
      flex: 1;
      border: lightgray 1px dashed;
      margin: 3px;
   }
}

button.complete.ui.button {
   text-decoration: line-through;
}

.custom-wrapper {
   display: flex;
   flex-direction: column;
   width: 100%;
   align-content: stretch;
   align-items: stretch;
}
.list-header {
   margin-bottom: 20px;
   text-decoration-line: underline;
   text-decoration-style: dotted;
   text-decoration-color: lightgray;
}

.list-header h2,
.list-header p {
   margin: 0;
}
.list-header p {
   color: lightslategray;
   margin-left: 2em;
}
.custom-wrapper-i {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: stretch;
   align-items: stretch;
}

.custom-container-i {
   margin: 1rem;
   flex: 1 0 0;
   display: flex;
   justify-content: center;
}

.custom-container-i .ui.card {
   width: 100%;
   min-width: 200px;
   height: 100%;
   max-width: 350px;
}

a.ui.card > .content > .header {
   color: rgb(56, 120, 141);
}

div.state-header {
   order: 1;
   min-width: 90%;
   width: 100%;
   flex: 1;
   justify-content: center;
   text-align: center;
   padding-top: 2rem;
}

#active-header {
   order: 0;
   margin-top: 0;
   padding-top: 0;
}

.custom-container {
   display: flex;
   flex-direction: row;
   margin: 0.5em;
   align-items: center;
   justify-content: center;
}

.edit-container,
.input-container,
.delete-container {
   flex: 1;
   padding: 3px;
   display: flex;
   align-content: stretch;
   align-items: stretch;
   height: 100%;
}
body .edit-container {
   flex: 4;
}

.custom-container .edit-container .button {
   align-self: stretch;
}

.custom-container .button,
.custom-container form {
   width: 100%;
   align-self: center;
}

.input-container .button,
.delete-container .button {
   max-width: 70px;
}

.input-container {
   justify-content: flex-end;
}

.delete-container {
   justify-content: flex-start;
}
